* {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #161619;
  width: 317px;
  height: 64px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #918e9b;
}

.icons {
  display: flex;
  font-size: 30px;
  margin: 15px;
}

.insta {
  margin-left: 35.5px;
  padding-right: 20px;
}
.face {
  padding-right: 20px;
}
.git {
  margin-right: 35.5px;
}
.link {
  padding-right: 20px;
}
.twit {
  padding-right: 20px;
}
