* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.box {
  height: 399px;
  width: 317px;
  background-color: #1a1b21;
  color: white;
}
.post {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f3bf99;
}
.intro {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website {
  margin-bottom: 5px;
}

.email {
  width: 247px;
  height: 34px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  color: #161619;
  background-color: #ffffff;
}

.email-icon {
  color: #1a1b21;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.intrests {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.heading {
  margin-bottom: 5px;
}
small {
  font-weight: 200;
}
